*{
	margin: 0;
	padding: 0;
	 box-sizing:border-box;
}
body {
	line-height: 1.34;
	font-family: Helvetica, Arial, sans-serif;
}

a {
	    font-family: inherit;
}
header {
	background-image: linear-gradient(#4e69a2, #3b5998 50%);
    border-bottom: 1px solid #133783;
	height: 82px;
}
.container	{
	margin: 0 auto;

    width: 980px;
}
.header {
    display: flex;
    width: 100%;
        padding-top: 13px;
}
.left-header {
    justify-content: flex-start;
    margin-top: 17px;
        width: 100%;
}
.right-header {
    justify-content: flex-end;
}
.right-header table tr td {
    color: white;
    font-size: 12px;
    font-family: Helvetica, Arial, sans-serif;
        font-weight: normal;
        padding: 0 0 0 14px;
}
.right-header .padding-bt {
    padding-bottom: 4px;
}
.right-header .inputtext {
	border-color: #1d2a5b;
    margin: 0;
    width: 142px;

    padding: 3px;
}
.inputtext, .btn {
	    border: 1px solid #ccd0d5;
}
.login-form a {
	    color: #9cb4d8;
    font-weight: normal;
        text-decoration: none;
}
.login {
    background-color: #4267b2;
    border-color: #29487d;
    padding: 2px 6px;
    color: #fff;
    line-height: 18px;
    border-radius: 2px;
    cursor: pointer;
}
i.logo {
	    background-image: url('https://www.facebook.com/rsrc.php/v3/yr/r/WEvohMliY77.png');
    background-size: auto;
    background-repeat: no-repeat;
    width: 170px;
    height: 34px;
    background-position: 0 0;
    display: flex;
}
.main {
	    background: linear-gradient(white, #D3D8E8);
	    min-height: 480px;
}
.main .info {
	    color: #0e385f;
    font-size: 20px;
    font-weight: bold;
    line-height: 29px;
    margin-top: 40px;
    width: 450px;
    word-spacing: -1px;

}
.main-content {
    display: flex;
}
.main-right {
	    margin-left: 15px;
	width: 100%;
}
.main-left {
    width: 650px;
        margin-right: 30px;
}
.main-right .padding-from {
	padding-top: 20px;
    padding-bottom: 20px;

}
.padding-from .mbt {
	font-size: 36px; 
	    font-weight: 600;
	    margin-bottom: 5px;
}
.fbc {
    color: #333;
}
.fcg {
	    color: #90949c;
}
.fbt {
	    color: #1d2129;
    font-size: 19px;
}
.ifp {
	    font-size: 18px;
    padding: 8px 10px;
        border-color: #bdc7d8;
    border-radius: 5px;
}
.form-dk .iw {
            width: 193px;
}
.form-dk .ipd {
    margin-right: 8px;
}
.mi {
	margin-bottom: 10px;
}
.form-dk table input {
    width: 100%;
}
form.form-check {
    display: flex;
    align-items: center;
    width: 25%;
}
.sbtn {
    background: linear-gradient(#67ae55, #578843);
    background-color: #69a74e;
    box-shadow: inset 0 1px 1px #a4e388;
    border-color: #3b6e22 #3b6e22 #2c5115;
}
.sbt {
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    letter-spacing: 1px;
    text-shadow: 0 1px 2px rgba(0,0,0,.5);
}
.lh {
    width: 192px !important;
    padding: 7px 20px;
    text-align: center;
    font-weight: bold;
    font-size: 19px;
}
.full-mb {
	display: none;
}
@media only screen and (max-width: 980px){
.wapper, .full-mb {
    display: none;
}

}
/*mobile*/
@media only screen and (max-width: 979px){
.header-mb {
    background: #3b5998;
    box-sizing: border-box;
    height: 44px;
    align-items: center;
    display: flex;
    justify-content: center;
}
.full-mb {
	display: block;
	background-color: #eceff5;
}
.header-mb .w-mb {
    width: 102px;
    height: 21px;
    background-position: 0 0;
}
.img-mb {
    background-image: url(https://www.facebook.com/rsrc.php/v3/yi/r/Ffw12kVi8kU.png);
    background-size: 103px 326px;
    background-repeat: no-repeat;
    display: flex;
    height: 16px;
    width: 16px;
}
.info-mb {
    display: flex;
    padding: 10px;
    background: #FFFBE2;
    color: #3b5998;
        align-items: center;
}
.i-mb {
    margin-right: 10px;
}
.p-mb {
    font-size: 14px;
}
.form-mb {
	    max-width: 416px;
	        margin: 0 auto;
	        padding-bottom: 1px;
    padding: 16px;
        border-color: #d8dfea;
    height: 176px;
}
.input-mb input {
    padding: 12px;
     border: none;
         background: none;
}

.input-mb{
	    display: flex;
    width: 100%;
    flex-direction: column;
    position: relative;
    background: #fff;
    border-radius: 4px;
    margin-bottom: 12px;
}
.input-mb:before {
    border-color: rgba(0, 0, 0, .07) rgba(0, 0, 0, .11) rgba(0, 0, 0, .18);
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    bottom: -1px;
    content: '';
    left: -1px;
    pointer-events: none;
    position: absolute;
    right: -1px;
    top: -1px;
}
.login-mb {
    background-color: #3578e5;
    width: 100%;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
        padding: 10px;
}
}